#override a {
  color:#930000;
  /* border-bottom: 1px solid transparent;
  transition: .2s ease-in-out, text-decoration .2s ease-in-out; */
}
a:hover, a:focus {
  color: #414141;
  border-color: #414141
}

body {
  font-family: 'Fira Sans', sans-serif;
}

.post-title-list {
  font-weight: bold;
  font-size: 24px;
}
.title-container {
  padding-bottom:15px;
}

.card-img-top {
  overflow:hidden;
  height: 250px;
  max-width:100%;
}
.navbar {
  background-color:tansparent;
  transition: top 1s ease;
  color:#930000;
  margin:4px;
}
.navbar .navbar-right {
  margin-top:7px;
}
.navbar-toggler {
  margin:5px;
}
.navbar #left-nav-ul{
  font-size:18px;
  flex-direction: row;
}
#override .navbar a, navbar a:active {
  color:#930000;
  background-color: transparent;
  transition: border-bottom .2s ease-in, transform .2s ease-in-out;
}

#override .navbar ul li a:after{
  background-color: transparent;
  border-bottom: 1px solid #292929;
  color: #414141;
}

#override .navbar ul li a:hover{
  background-color: transparent;
  border-bottom: 1px solid #333333;
  color: #414141;
}

.navbar .top-nav {
  margin-left:10%;
  margin-right:10%;
}
.navbar .bot-nav {
  margin-left:0;
  margin-right:0;
  font-size:16px;
}

.dividing-line {
  margin: 5px 100px;
  padding-top: 1px;
  background-color:black;
}

.layout-content {
  padding-top:5%;
  padding-bottom:15px;
}

/* About me card */
.front, .back {
  position: absolute;
  top:0;
  left:0;
}

.front {
  z-index:2;
}
@media (max-width: 768px) {
  #about .container-fluid {
    min-height:900px;
  }
}

.card-container, .front, .back {
  width:100%;
  min-width:300px;
  height:100%;
  min-height:720px;
  border: 1px solid #D8D8D8;
}

.card .cover {
  height: 205px;
  overflow:hidden;
}

.card .cover img {
  width:100%;
}

.card .user {
  border-radius: 50%;
  overflow:hidden;
  display: block;
  height:240px;
  width:240px;
  margin: -115px auto 0;
}

.card .user img {
  background: none repeat scroll 0 0 #ffffff;
  width:100%;
}

.card .content {
  padding: 10% 20px 20px;
  margin: auto;
}

.card .content .main {
  min-height:160px;
  margin: auto;
}

.card .name {
  margin: 10px 0 0;
  /* font-size: 26px; */
  font-weight:bold;
  text-align:center;
  text-transform:capitalize;
}

.card .profession {
  text-align: center;
  margin-bottom: 20px;
}
.card .contact {
  margin-bottom: 5px;
  text-align:center;
}

.card .footer {
  border-top: 1px solid #EEEEEE;
  margin: 30px 0 10;
  padding: 10px 0;
  text-align: center;
  text-decoration: underline;
}
.footer {
  height:100px;
  width:100%;
}

.postcard {
  height: 490px;
}