---
layout: default
title: Home
---

	<div id="root"></div>
	<div class="title-container">
		<h1>Recent</h1>
	</div>
	<div class="container post-list">
		<div class="row">
			{% for post in site.posts %}
				{% if post.listHide != 'correct' %}
				{% assign index = index | plus: 1 %}
				{% if index > 9 %}
					{% break %}
				{% endif %}
					<div class="col-lg-4 col-sm-6 col-xs-12">
						<div class="card card-outline-danger mb-3 card-image postcard">
							<a href="{{ post.url }}">
							<img class="card-img-top" src="{{ post.image }}" alt="post image">
							</a>
							<div class="card-block">
								<span class="post-title-list"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></span><br>
								{% for category in post.categories %}
									{% if category == 'ios' %}
										<span class="post-excerpt"><a href="/blog/{{ category }}">iOS</a></span>		
									{% elsif category == 'ai' %}		
										<span class="post-excerpt"><a href="/blog/{{ category }}">AI</a></span>
									{% else %}
										<span class="post-excerpt"><a href="/blog/{{ category }}">{{ category | capitalize }}</a></span>
									{% endif %}
								{% endfor %}
								<span class="post-excerpt">{{ post.excerpt }}</span>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>