<nav class="navbar navbar-toggleable-md navbar-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="row">
  <ul class="navbar-nav" id="left-nav-ul">
      <li class="nav-item" id="left-nav">
        <a class="nav-link navbar-brand" href="/"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
      </li>		
      <li class="nav-item" id="left-nav" >
          <a class="nav-link navbar-brand" href="http://www.adlyss.com"><img src="/assets/images/Adlysslogo20.png"></a>
      </li>
      <li class="nav-item" id="left-nav">
        <a class="nav-link navbar-brand" href="https://www.linkedin.com/in/matthew-adeline/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item" id="left-nav">
        <a class="nav-link navbar-brand" href="https://www.instagram.com/mkadeline"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% assign catList = site.categories %}
          {% for category in catList %}
            {% if category[0] == 'ios' %}
              <a class="dropdown-item" href="/blog/{{ category[0] }}">iOS</a>	
            {% elsif category[0] == 'ai' %}
              <a class="dropdown-item" href="/blog/{{ category[0] }}">AI</a>	
            {% else %}
              <a class="dropdown-item" href="/blog/{{ category[0] }}">{{ category[0] | capitalize }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>  
      <li class="nav-item">
        <a class="nav-link name-link" href="/about"> <i class="fa fa-address-card" aria-hidden="true"></i>&nbsp; Matthew Adeline</a>
      </li>
    </ul>
  </div>
</nav>