<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
			<!--FontAwesome -->
			<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
			
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">

			<link href="https://fonts.googleapis.com/css?family=Fira+Sans:300" rel="stylesheet">
		</head>
		<body>
			<div id="app" class="container">
					<nav class="navbar navbar-toggleable-md">
					  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<ul class="navbar-nav mr-auto">
							<li class="nav-item active">
									<a class="nav-link" href="/"><i class="fa fa-home fa-2x" aria-hidden="true"></i><span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
									<a class="nav-link" href="http://www.adlyss.com"><img src="/assets/images/Adlysslogo20.png"></a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="https://www.linkedin.com/in/matthew-adeline/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="https://www.instagram.com/mkadeline"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
							</li>
						</ul>
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="/blog/programming">Programming</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/blog/hardware">Hardware</a>
							</li>
							<li class="nav-item">
									<a class="nav-link" href="/blog/security">Security</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/about"> &nbsp; &nbsp; &nbsp;<i class="fa fa-address-card" aria-hidden="true"></i>&nbsp; Matthew Adeline</a>
								</li>
						</ul>
						
					</nav>
				</div>
				<div class="dividing-line"></div>
				<div class="layout-content">
					<div class="container">
					
					{{ content }}
					
					</div>
				</div>
				
				<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
			</body>
	</html>
